*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* Navbar style */

header{
    position: -webkit-sticky;
    position:sticky;
    top: 0px;
    z-index: 1;
}

/* Navbar first box logo style */

.navbar{
    width: 100%;
    background-color: black;
    height: 4.3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.nav-logo img{
    width: 3.5rem;
    height: 3.5rem;
}
.border:hover{
    border: 1.8px solid white;
}


/* nav second box  address class style*/

.add-first{
    color: white;
    font-size: 1rem;
    padding-left: 1rem;
}
.add-second{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: white;
    font-size: 1.3rem;
}

/* Navbar third box */

.nav-search{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 55rem;
    /* height: 2.5rem; */
    border: none;
}
#All{
    width: 5rem;
    color: white;
    height: 2.45rem;
    width: 2rem;
    background-color: #c2c7c6;
    font-size: 1rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border: none;
}
.input{
    width: 50rem;
    height: 2.5rem;
    font-size: 1.1rem;
    padding-left: 0.5rem;
}
#mag{
    color: white;
    height: 2.45rem;
    background-color: rgb(246, 246, 150);
    width: 6%;
    font-size: 1.5rem;
    padding-left: 0.5rem;
    border: none;
    padding-top: 0.3rem;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

/* Navbar 4th box */
.nav-signin{
    color: white;
}
.first{
    font-size: 1rem;
}
.second{
    font-size: 1.1rem;
}

/* Navbar 5th box */
.nav-returns{
    font-size: 1.1rem;
    color: white;
}

/* Navbar 6th box */
.nav-cart{
    display: flex;
}
.nav-cart i{
    color: white;
    font-size: 1.4rem;
}
.nav-cart p{
    color: white;
    font-size: 1rem;
}

/* Header Panel starts */

.panel{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:#222f3d ;
    color: white;
    height: 2.3rem;
}

/* Panel options */
.panel-options{
    display: flex;
    width: 70%;
    align-items: center;
    font-size: 1.2rem;
}
.panel-all{
    font-size: 1.2rem;
    cursor: pointer;
}
.panel-all i{
    margin-right: 0.5rem;
}
.panel-options p{
    margin-left: 1rem;
}

.panel-deals{
    font-size: 1.2rem;
}


/* main section */
.image-container{
    position: relative;
    overflow-x: hidden;
}
.image-list{
    display: flex;
}
.image-item{
    min-width: 100%;
    transition: transform 0.3s;
}
.image-item img{
    width: 100%;
    height: 100vh;
    /* transform: translate(-300%); */
}
.image-btn-container
{
  
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.slider-btn{
   width: 4rem;
   height: 10rem;
   font-size: 2rem;
   padding: 2rem 0.5rem;
   margin: 0.2rem;
   background-color: transparent;
   border: none;
}
.slider-btn:focus{
    border: 2px solid seagreen;
    color:black;
    box-shadow: -2px -2px -2px rgb(230,227,227),
    2px 2px 2px white;
}

/* Shop section starts */

main{
    position: relative;
    bottom: 22rem;
}

.shop{
    position: relative;
    /* background-color: rgb(201, 194, 194); */
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: hidden;
    flex-wrap: wrap;
}
.box{
    /* border: 2px solid black; */
    margin-top: 1rem;
    box-shadow: -5px -5px 10px rgba(0,0,0,0.2);
}
.box img{
   width: 26rem;
   height: 22rem;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
}
.box h2{
    text-align: center;
}
.box p{
    text-align: center;
    font-size: 1.2rem;
}


/* sidebar Navigation */
.sidebar-navigation{
    display: flex;
    background-color: rgba(0, 0,0,0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index:1;
    transform: translateX(-100%);
}
.sidebar-show{
    transform: translateX(0%);
}
.sidebar-left{
    background-color: white;
    width: 20rem;
    height: 100vh;
    transition: transform 0.3s;
    overflow-y: scroll;
}
.sidebar-top{
    background-color: rgb(19,25,33);
    color: white;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    height: 2.6rem;
    transition: transform 0.3s;
}
.sidebar-top i{
    font-size: 1.6rem;
}
.sidebar-top h2{
    padding-left: 1rem;
}
.sidebar-item{
    margin-top: 0.9rem;
    padding-left: 1rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.9rem;
}
.sidebar-item p{
    padding-top: 0.5rem;
}
.sidebar-item p:hover{
    background-color: rgb(19,25,33);
    color: white;
    width: 95%;
}
#sidebar-close{
    color: white;
    align-self: flex-start;
    font-size: 1.9rem;
    padding-top: 0.3rem;
    padding-left: 0.3rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}